@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

:root {
  --bse-font-sans: "PingFang TC", "Noto Sans TC", "Microsoft JhengHei", "Heiti TC", "PMingLiU", sans-serif;;
  --bse-font-serif: "Noto Serif TC", "Songti TC", "PMingLiU", "MingLiU", serif;
  --bse-font-code: Firple, "Jetbrains Mono", "Momiage Mono", monospace;

  --font-code: var(--bse-font-code);
}

/* Tweaks */
.page-content { position: relative; }
.page-content blockquote:before { left: 0; }
#bkmrk-page-title { margin-top: 42px; }

.bse-excerpt { display: none; }
.bse-toolbar { position: absolute; top: 0; right: 0; display: flex; flex-direction: row; justify-content: flex-end; }

.bse-segmented-btn { position: relative; display: inline-flex; width: fit-content; margin: 0 4px; padding: 0 4px; border: 1px solid oklch(0.5982 0 0 / 40%); border-radius: 8px; }
.bse-segmented-btn legend { font-size: .65rem; padding: 0 2px; }
.bse-segmented-btn input[type="radio"] { display: none; }
.bse-segmented-btn input[type="radio"] + label { padding: 4px 8px; font-size: .75rem; }
.bse-segmented-btn input[type="radio"]:checked + label { color: #1F6EA7; font-weight: bold; }
