@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/latin-modern-math');
@import url('https://unpkg.com/lucide-static@latest/font/lucide.css');

:root {
  --bse-font-sans: "PingFang TC", "Noto Sans TC", "Microsoft JhengHei", "Heiti TC", "PMingLiU", sans-serif;;
  --bse-font-serif: "Noto Serif TC", "Songti TC", "PMingLiU", "MingLiU", serif;
  --bse-font-code: Firple, "Jetbrains Mono", "Momiage Mono", monospace;
  --font-code: var(--bse-font-code);

  --bse-radius: 0.65rem;
}

/* Tweaks */
.page-content blockquote::before { content: none; }
.page-content blockquote > p { position: relative; }
.page-content blockquote > p::before { content: '“'; display: inline-block; position: absolute; top: 0; left: -4px; translate: -100% 0; line-height: 1.25; font-size: 2em; font-weight: bold; color: oklch(0.5982 0 0); }
.page-content { position: relative; }
#bkmrk-page-title { margin-top: 42px; }

.bse-excerpt { display: none; }
.bse-toolbar { position: absolute; top: 0; right: 0; display: flex; flex-direction: row; justify-content: flex-end; }

/* Segmented Buttons */
.bse-segmented-btn { position: relative; display: inline-flex; width: fit-content; margin: 0 4px; padding: 0 4px; border: 1px solid oklch(0.5982 0 0 / 40%); border-radius: 8px; }
.bse-segmented-btn legend { font-size: .65rem; padding: 0 2px; }
.bse-segmented-btn input[type="radio"] { display: none; }
.bse-segmented-btn input[type="radio"] + label { padding: 4px 8px; font-size: .75rem; }
.bse-segmented-btn input[type="radio"]:checked + label { color: #1F6EA7; font-weight: bold; }

/* Hide Callout Icon */
.callout.bse-hide-callout-icon::before { content: none; padding: 12px; }
.callout.bse-hide-callout-icon { padding: 12px; }

/* Figure with caption */
.page-content figure { display: flex; flex-direction: column; align-items: center; }
.page-content figure > figcaption { font-style: italic; font-size: small; }

.page-content math { font-family: "Latin Modern Math", serif; text-transform: math-auto; }
.page-content math[display="block"] { display: block math; }

/* Custom Alert */


bse-alert {
  --bse-alert-color: oklch(0.141 0.005 285.823);
  
  position: relative;
  display: block;
  border: 1px solid var(--bse-alert-color);
  border-radius: var(--bse-radius);
  padding: 16px 16px 16px 48px;
  background-color: color-mix(in lab, var(--bse-alert-color) 10%, transparent);
  color: var(--bse-alert-color);
}

bse-alert > p:first-child {
  position: relative;
  height: 1.5em;
  margin-top: 0;
  font-weight: bold;
  padding: 0;
}

bse-alert:not(:has(> p))::before,
bse-alert > p:first-child::before {
  display: block;
  place-items: center;
  position: absolute;
  top: 0;
  left: -8px;
  translate: -100%;
  font-size: 1.25em;
  font-family: 'lucide' !important;
  height: inherit;
  line-height: 1.4;
  user-select: none;
}

bse-alert[info]:not(:has(> p))::before,
bse-alert[info] > p:first-child::before  {
  content: '\e0f9';
}
bse-alert[info] {
  --bse-alert-color: oklch(0.5399 0.1906 257.48);
}

bse-alert[warn]:not(:has(> p))::before,
bse-alert[warn] > p:first-child::before  {
  content: '\e193';
}
bse-alert[warn] {
  --bse-alert-color: oklch(0.6677 0.1387 78.46);
}

bse-alert[danger]:not(:has(> p))::before,
bse-alert[danger] > p:first-child::before  {
  content: '\e127';
}
bse-alert[danger] {
  --bse-alert-color: oklch(0.5517 0.2051 24.53);
}

bse-alert[tip]:not(:has(> p))::before,
bse-alert[tip] > p:first-child::before  {
  content: '\e1c2';
}
bse-alert[tip] {
  --bse-alert-color: oklch(0.5244 0.1401 148.04);
}

bse-alert[important]:not(:has(> p))::before,
bse-alert[important] > p:first-child::before  {
  content: '\e4f4';
}
bse-alert[important] {
  --bse-alert-color: oklch(0.5631 0.2069 294.97);
}
